# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Metro
.metro-health-check*

# Native (managed: generados por prebuild)
ios/
android/
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Debug / logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS / Windows
.DS_Store
Thumbs.db
*.pem

# Editor / tooling
.vscode/
.idea/
.history/

# Local env files (ignora todos los .env)
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo
