# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Metro
.metro-health-check*

# Native (managed: generados por prebuild)
ios/
android/
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Debug / logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log


.DS_Store
Thumbs.db
*.pem


.vscode/
.idea/
.history/


.env
.env.*
!.env.example


*.tsbuildinfo
